* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font: normal 14px/1.25 "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font: bold 16px/1.2 "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

.container {
  *zoom: 1;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.txt-center {
  text-align: center; }

.section-related {
  color: #fff;
  padding: 70px 0 40px;
  background: #02C6CA; }

.list-related {
  *zoom: 1;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 30px 0;
  list-style: none; }
  .list-related:before, .list-related:after {
    content: " ";
    display: table; }
  .list-related:after {
    clear: both; }
  .list-related li {
    padding: 15px 0;
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%; }
    .list-related li:last-child {
      margin-right: 0; }
    .list-related li:nth-child(3n) {
      margin-right: 0; }
    .list-related li:nth-child(3n+1) {
      clear: left; }
  .list-related a {
    display: block;
    cursor: pointer;
    color: #fff;
    text-decoration: none; }
  .list-related .img {
    position: relative;
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 48.93617%; }
    .list-related .img:last-child {
      margin-right: 0; }
    .list-related .img img {
      padding-top: 10px;
      border-radius: 3px;
      border: 3px solid #fff;
      background: #fff;
      width: 100%; }
    .list-related .img i {
      float: left;
      width: 4px;
      height: 4px;
      line-height: 4px;
      margin: 0 10px;
      background: #FFBF00;
      border-radius: 100%;
      position: absolute;
      top: 5px; }
    .list-related .img i:before,
    .list-related .img i:after {
      position: absolute;
      right: 100%;
      content: ' ';
      float: left;
      width: 4px;
      height: 4px;
      margin: 0 2px;
      line-height: 4px;
      background: #D90000;
      border-radius: 100%; }
    .list-related .img i:after {
      right: auto;
      left: 100%;
      background: #00B285; }
  .list-related .ads .img {
    padding: 10px;
    background: #eee;
    border-radius: 3px; }
    .list-related .ads .img img {
      padding-top: 0;
      border: none;
      background: #eee; }
    .list-related .ads .img h6 {
      font-size: 12px; }
  .list-related .info {
    padding: 10px 0;
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 48.93617%; }
    .list-related .info:last-child {
      margin-right: 0; }
  .list-related h6 {
    margin: 0 5px;
    font: normal 14px "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .list-related p {
    margin: 5px 0 5px 5px;
    color: #014343;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    transition: all 150ms; }
  .list-related a:hover p {
    color: #fff; }

@media screen and (max-width: 768px) {
  .list-related li {
    display: block;
    float: left;
    margin-right: 3.22581%;
    width: 48.3871%; }
    .list-related li:last-child {
      margin-right: 0; }
    .list-related li:nth-child(2n) {
      margin-right: 0; }
    .list-related li:nth-child(2n+1) {
      clear: left; } }
@media screen and (max-width: 480px) {
  .list-related li {
    display: block;
    float: left;
    margin-right: 6.66667%;
    width: 100%; }
    .list-related li:last-child {
      margin-right: 0; }
    .list-related li:nth-child(1n) {
      margin-right: 0; }
    .list-related li:nth-child(1n+1) {
      clear: left; } }
